<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body>
    <h1>Add Patient</h1>
    <form action="/create" method="post">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender"><br>

        <label for="height">Height:</label>
        <input type="text" id="height" name="height"><br>

        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight"><br>

        <label for="cholesterol">Cholesterol:</label>
        <input type="text" id="cholesterol" name="cholesterol"><br>

        <input type="submit" value="Add Patient">
    </form>
</body>
</html>



