<!DOCTYPE html>
<html>
<head>
    <title>Patient Management</title>
</head>
<body>
    <h1>Patient Management</h1>
    <nav>
        <a href="/addPatient">Add Patient</a>
        <a href="/show">Show Patients (Options to delete and update)</a>
    </nav>
</body>
</html>

